/*
 * Lash Debug LESS
 */
body {
  padding-top: 0px;
}
.container.debug {
  background-color: white;
}
.size-monitor {
  position: fixed;
  z-index: 9999;
  bottom: 10px;
  right: 10px;
}
.size-monitor > p {
  color: red;
  font-style: italic;
}
